{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <title>Kiilolee Music</title>
</head>

<style>
    body {
        background-color: #eee !important;
    }
</style>

<body>

    <div class="container">

        <br>

        <h2 class="text-primary">Log in</h2>

        <br><br>

        <form action="{% url 'accounts:login' %}" method="POST">
            {% csrf_token %}

            <div class="text-danger">
                {{ form.non_field_errors }}
            </div>

            <div class="form-group">
                <p class="text-danger"></p> {{ form.username.errors }} </p>
                <label for="{{ form.username.id_for_label }}">Username :</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text fa fa-user"></span>
                    </div>
                    <input type="text" name="username" autofocus="" id="id_username" class="form-control" required="">
                </div>

            </div>

            <div class="form-group">
                <p class="text-danger"></p> {{ form.password.errors }} </p>
                <label for="{{ form.password.id_for_label }}">Password :</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text fa fa-lock"></span>
                    </div>
                    <input type="password" name="password" id="id_password" class="form-control" required="">
                    <div class="input-group-append showhide" onclick="showhide()">
                        <span class="input-group-text fa fa-eye-slash" id="showhide"></span>
                    </div>
                </div>
            </div>

            {% if request.GET.next %}
            <input type="hidden" name="next" value="{{request.GET.next}}">
            {% endif %}

            <button type="submit" class="btn btn-primary">Login</button>

        </form>

        <h6 class="my-3">Don't have an account? <a href="{% url 'accounts:signup' %}">Sign up here</a>.</h6>

    </div>


    <style>
        .showhide {
            cursor: pointer;
        }
    </style>

    <script>
        let show = false;
        let i_elem = document.getElementById('showhide');
        let id_pwd = document.getElementById('id_password')

        function showhide() {
            if (show) {
                i_elem.classList = "input-group-text fa fa-eye-slash"
                id_pwd.type = "password"
                show = false;
            }
            else {
                i_elem.classList = "input-group-text fa fa-eye"
                id_pwd.type = "text"
                show = true;
            }
        }
    </script>

</body>

</html>